<!DOCTYPE html>
<html lang="fr" class="font-primary">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Title -->
    <title>{% block title_block %}Camp NextGen{% endblock title_block %}</title>

    {% load static %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'inscription/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'inscription/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'inscription/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'inscription/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'inscription/favicons/safari-pinned-tab.svg' %}" color="#ed1c24">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%7CPlayfair+Display%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'inscription/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/icon-line-pro/style.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'inscription/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/wait-animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/slick-carousel/slick/slick.css' %}">
    
    <!-- CSS Implementing Plugins FOR VIDEO BG -->
    <link rel="stylesheet" href="{% static 'inscription/vendor/dzsparallaxer/dzsparallaxer.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/hs-bg-video/hs-bg-video.css' %}">
    <link rel="stylesheet" href="{% static 'inscription/vendor/fancybox/jquery.fancybox.css' %}">
    
    <!-- CSS Template -->
    <link rel="stylesheet" href="{% static 'inscription/vendor/unify-gym/css/styles.op-gym.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'inscription/css/main.css' %}">

</head>


<body class="g-overflow-x-hidden">
    <main>


        {% block body_block %}

        {% endblock body_block %}

    </main>







    <!-- JS Global Compulsory -->
    <script src="{% static 'inscription/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'inscription/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'inscription/vendor/popper.min.js' %}"></script>
    <script src="{% static 'inscription/vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'inscription/vendor/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'inscription/vendor/image-select/src/ImageSelect.jquery.js' %}"></script>
    <script src="{% static 'inscription/vendor/appear.js' %}"></script>
    <script src="{% static 'inscription/vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'inscription/vendor/gmaps/gmaps.min.js' %}"></script>
    
    <!-- JS Implementing Plugins -->
    <script src="{% static 'inscription/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'inscription/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'inscription/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'inscription/vendor/hs-bg-video/hs-bg-video.js' %}"></script>
    <script src="{% static 'inscription/vendor/hs-bg-video/vendor/player.min.js' %}"></script>
    <script src="{% static 'inscription/vendor/fancybox/jquery.fancybox.min.js' %}"></script>
    
    <!-- JS Unify -->
    <script src="{% static 'inscription/vendor/unify/js/hs.core.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.header.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/helpers/hs.hamburgers.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.scroll-nav.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.select.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.counter.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.carousel.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.popup.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/gmap/hs.map.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.go-to.js' %}"></script>
    
    <!-- JS Unify -->
    <script src="{% static 'inscription/vendor/unify/js/helpers/hs.bg-video.js' %}"></script>
    <script src="{% static 'inscription/vendor/unify/js/components/hs.popup.js' %}"></script>
    

    <!-- Custom JS -->
    <script src="{% static 'inscription/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).ready(function () {
            // initialization of video on background
            $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });
    </script>


    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of custom selects
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
          helpers: {
            media: {},
            overlay: {
              css: {
                'background': 'rgba(255, 255, 255, .8)'
              }
            }
          }
        });
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>
</html>