{% extends "inscription/base.html" %}

{% load static %}

{% block title_block %}
    CampNextGen - La référence en Football
{% endblock title_block %}



{% block body_block %}

    <!-- ***************** NAVBAR ***************** -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999" data-header-fix-moment="100">
        <div class="u-header__section g-bg-black-opacity-0_3 g-transition-0_3 g-py-7 g-py-23--md" data-header-fix-moment-exclude="g-bg-black-opacity-0_3 g-py-23--md"
            data-header-fix-moment-classes="g-bg-black-opacity-0_7 g-py-17--md">
            <nav class="navbar navbar-expand-lg g-py-0">
                <div class="container g-pos-rel">
                    <!-- Logo -->
                    <a href="#accueil" class="js-go-to navbar-brand u-header__logo" data-type="static">
                        <img class="u-header__logo-img u-header__logo-img--main g-width-140" src="{% static 'inscription/img/campnextgen_VB2.png' %}" alt="CampNextGen Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                        <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-2 g-font-size-11 g-pt-20 g-pt-0--lg ml-auto">
                            <li class="nav-item g-mr-15--lg g-mb-15 g-mb-0--lg active">
                                <a href="#lecamp" class="nav-link p-0">Le Camp
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-15 g-mb-0--lg">
                                <a href="#video" class="nav-link p-0">Vidéo</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-15 g-mb-0--lg">
                                <a href="#mission" class="nav-link p-0">Mission</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-15 g-mb-0--lg">
                                <a href="#inscription" class="nav-link p-0">Inscription</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-15 g-mb-0--lg">
                                <a href="#equipe" class="nav-link p-0">Notre Équipe</a>
                            </li>
                            <li class="nav-item g-ml-15--lg g-mb-15 g-mb-0--lg">
                                <a href="#contact" class="nav-link p-0">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button" aria-label="Toggle navigation"
                        aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- ***************** End NAVBAR ***************** -->


    <!-- ***************** ACCUEIL ***************** -->
    <section id="accueil" class="g-pos-rel">
        <!-- IMAGES EN ROTATION -->
        <div class="js-carousel u-bg-overlay g-bg-black-opacity-0_6--after" data-autoplay="true" data-infinite="true" data-fade="true"
            data-speed="5000">
            <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600" style="background-image: url({% static 'inscription/img/img2.jpg' %});"></div>
            <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600" style="background-image: url({% static 'inscription/img/img4.jpg' %});"></div>
            <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600" style="background-image: url({% static 'inscription/img/img3.jpg' %});"></div>
        </div>
        <!-- FIN IMAGES EN ROTATION -->

        <div class="u-bg-overlay__inner g-absolute-centered w-100">
            <div class="container text-center g-color-white">
                <h2 class="text-uppercase u-heading-v3__title g-letter-spacing-1 g-font-weight-700 g-font-size-18 g-brd-0 g-brd-primary-fonce g-pb-5 g-mb-0">14-15 avril &#38 12-13 mai</h2>
                <h1 class="text-uppercase g-line-height-1_4 g-letter-spacing-5 g-font-weight-700 g-font-size-40 g-font-size-75--md g-mb-20">Camp NextGen</h1>

                <ul class="list-inline g-font-size-16 g-mb-30">
                    <li class="list-inline-item g-mx-20 g-mb-10 g-mb-0--md">
                        <i class="fa fa-calendar g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                        <strong class="g-font-weight-700 g-valign-middle">2</strong>
                        <span class="g-font-weight-200 g-valign-middle">Jours Intensifs</span>
                    </li>
                    <li class="list-inline-item g-mx-20 g-mb-10 g-mb-0--md">
                        <i class="fa fa-clock-o g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                        <strong class="g-font-weight-700 g-valign-middle">18</strong>
                        <span class="g-font-weight-200 g-valign-middle">Heures</span>
                    </li>
                    <li class="list-inline-item g-mx-20">
                        <i class="fa fa-universal-access g-font-size-24 g-color-primary g-valign-middle g-mr-5"></i>
                        <!-- <strong class="g-font-weight-700 g-valign-middle">Chiffre</strong> -->
                        <span class="g-font-weight-200 g-valign-middle">Expérience Mémorable</span>
                    </li>
                </ul>

                <a class="btn btn-xxl u-btn-outline-primary g-brd-2 rounded-0" href="#lecamp">Expérience NextGen</a>
            </div>
        </div>
    </section>
    <!-- ***************** FIN ACCUEIL ***************** -->




    <!-- ***************** QU'EST-CE QUE LE CAMP ***************** -->
    <section id="lecamp" class="g-py-50 g-py-75--md">
        <div class="container">
            <div class="row">
                <!-- TITRE -->
                <div class="col-md-4 col-lg-3 g-mb-25 g-mb-0--md">
                    <h2 class="text-uppercase u-heading-v3__title g-letter-spacing-1 g-font-weight-700 g-font-size-18 g-brd-3 g-brd-primary g-pb-5 g-mb-20">Le Camp</h2>
                    <h3 class="text-uppercase g-line-height-1_4 g-letter-spacing-3 g-font-weight-700 g-font-size-36 g-mb-20">Qu'est-ce que le Camp NextGen</h3>
                    <!-- <a class="btn btn-md text-uppercase u-btn-primary g-letter-spacing-1 g-font-weight-700 g-font-size-11 g-theme-bg-gray-dark-v1 g-bg-primary--hover g-brd-none g-rounded-50 g-py-15 g-px-35"
                        href="#!">View our best offers</a>-->
                </div>
                <!-- FIN TITRE -->

                <!-- DESCRIPTION -->
                <div class="col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 g-mb-30 g-mb-40--md">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-005"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Développement sur le plan technique</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Les séances semi-privées de football seront axées sur la technique spécifique aux différentes positions. L'apprentissage et le perfectionnement seront au rendez-vous.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 col-lg-4 g-mb-30 g-mb-40--md">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-006"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Développement sur le plan tactique</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Les concepts offensifs et défensifs de haut niveau seront enseignés pour améliorer la compréhension du football sur le terrain et ainsi mieux performer.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 col-lg-4 g-mb-30 g-mb-40--md">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-156"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Initiation aux techniques d'épreuves de camp d'évaluation</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Les jeunes feront face aux camps d'évaluation tels que ceux mis en place par Team Quebec et Team Canada. Ils seront ainsi mieux préparés et outillés pour réussir.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 col-lg-4 g-mb-30 g-mb-0--lg">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-118"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Notre équipe d'entraineurs</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Les entraîneurs sont des joueurs actuels du Rouge et Or de l'Université Laval et des joueurs professionnels actuels de la Ligue Canadienne de Football.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 col-lg-4 g-mb-30 g-mb-0--md">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-078"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Entraînements spécifiques</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Un programme d'entraînement spécialisé sera fourni et expliqué de manière sécuritaire en salle d'entraînement.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <!-- Icon Blocks -->
                            <span class="d-block g-color-primary g-font-size-48 g-mb-0 g-mb-5--md">
                                <i class="icon-sport-096"></i>
                            </span>
                            <h3 class="text-uppercase g-letter-spacing-1 g-font-weight-700 g-font-size-16 g-theme-color-gray-dark-v1 g-mb-10">Entraînements de yoga</h3>
                            <p class="g-font-size-default g-color-gray-dark-v2-opacity-0_75 mb-0">Un maître Yogi donnera des périodes de relaxation et d'étirement pour perfectionner les méthodes de récupération.</p>
                            <!-- End Icon Blocks -->
                        </div>
                    </div>
                </div>
                <!-- FIN DESCRIPTION -->
            </div>
        </div>
    </section>
    <!-- ***************** FIN QUEST-CE QUE LE CAMP ***************** -->


    <!-- ***************** VIDEO ***************** -->
    <section id="video" class="container-fluid px-0">
        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-bg-cover g-bg-black-opacity-0_6--after"
            data-options="{direction: 'fromtop', animation_duration: 25, direction: 'reverse'}">
            <!-- Promo Block - Parallax Video -->
            <div class="dzsparallaxer--target" style="width: 100%; height: 200%;" data-forcewidth_ratio="1.77">
                <div class="js-bg-video g-pos-abs w-100 h-100" data-hs-bgv-type="youtube" data-hs-bgv-id="Cr5z8m6LQI4" data-hs-bgv-loop="1"></div>
            </div>
            <!-- End Promo Block - Parallax Video -->

            <div class="text-center g-pos-rel g-z-index-1 g-px-50 g-py-200">
                <a class="js-fancybox d-block mb-5" href="javascript:;" data-src="//www.youtube.com/embed/Cr5z8m6LQI4?autoplay=1" data-speed="350"
                    data-caption="Single Image">
                    <span class="u-icon-v3 u-icon-size--lg g-bg-white g-color-black g-color-primary--hover g-font-size-20 g-rounded-50x g-cursor-pointer">
                        <i class="g-pos-rel g-left-2 fa fa-play"></i>
                    </span>
                </a>
                <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5">Voir le vidéo</span>
            </div>
        </div>
    </section>
    <!-- ***************** FIN VIDEO ***************** -->


    <!-- ***************** MISSION ***************** -->
    <section id="mission">
        <div class="container-fluid">
            <!-- Info Blocks -->
            <div class="row">
                <!-- Info Image -->
                <div class="col-lg-5 g-min-height-360 g-bg-size-cover g-bg-pos-center" data-bg-img-src="{% static 'inscription/img/img2.jpg' %}"></div>
                <!-- End Info Image -->

                <div class="col-lg-7 g-bg-gray-dark-v1 g-pt-60 g-pt-100--md g-pt-150--lg g-pb-60 g-pb-100--md g-pb-150--lg g-px-40--sm g-px-80--md">
                    <header class="text-uppercase g-mb-35">
                        <div class="g-mb-30">
                            <span class="d-block g-color-primary g-font-weight-700 g-font-size-default g-mb-15">Notre philosophie</span>
                            <h2 class="h2 g-color-white g-font-weight-700 mb-0">Mission</h2>
                        </div>
                        <div class="g-width-70 g-brd-bottom g-brd-2 g-brd-primary"></div>
                    </header>

                    <p class="g-color-white-opacity-0_7">
                        Notre mission est d'aider les jeunes footballeurs à se développer en les faisant profiter des savoirs de notre équipe d'entraîneurs qualifiée qui rassemble plusieurs années d'expérience en football de haut niveau. Nous faisons de l'expérience de votre enfant notre priorité.
                    </p>
                </div>
            </div>
            <!-- End Info Blocks -->
        </div>
    </section>
    <!-- ***************** FIN MISSION ***************** -->


    <!-- ***************** INSCRIPTION ***************** -->
    <section id="inscription" class="g-py-50 g-py-75--md">
        <div class="container">
            <div class="row justify-content-center">
                <header class="text-center g-mb-0">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="text-uppercase g-line-height-1_4 g-letter-spacing-3 g-font-weight-700 g-font-size-36">Inscription</h2>
                    </div>
                    <p class="lead g-px-15 g-px-0--sm g-px-200--lg">
                        Le camp est disponible pour les jeunes de <strong>secondaire 1</strong> à <strong>secondaire 5</strong>.
                    </p>
                </header>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <!-- Default Outline Panel-->
                    <div class="card text-center rounded-0 g-mb-60">
                        <h3 class="card-header h5 rounded-0 text-uppercase g-letter-spacing-1">
                            <i class="fa fa-calendar g-font-size-default g-mr-5"></i>
                            Dates des camps
                        </h3>

                        <div class="card-body card-block">
                            <p class="card-text lead">14-15 avril, Stade Leclerc - CNDF, St-Augustin-de-Desmaures</p>
                            <p class="card-text lead">12-13 mai, Stade intérieur - Juvénat Notre-Dame, Lévis </p>
                        </div>
                    </div>
                    <!-- End Default Outline Panel-->
                </div>
            </div>

            <div class="row align-items-lg-center">
                <div class="col-lg-8 col-md-7">
                    <!-- Row -->
                    <div class="row g-mr-20--md g-mb-5--lg g-px-15 g-px-0--sm">
                        <div class="col-lg-6 g-mb-30 g-mb-40--lg">
                            <i class="d-block icon-communication-040 g-font-size-55 g-line-height-1 g-color-primary g-mb-5 g-mb-10--lg"></i>
                            <h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">
                                <strong>Promotion</strong> 10 joueurs</h4>
                            <p class="mb-0">Lorsqu'une même école atteint 10 inscriptions, chaque joueur de cette école recevra une casquette
                                aux couleurs du Camp NextGen!</p>
                        </div>

                        <div class="col-lg-6 g-mb-30 g-mb-40--lg">
                            <i class="d-block icon-clothes-032 g-font-size-55 g-line-height-1 g-color-primary g-mb-5 g-mb-10--lg"></i>
                            <h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">
                                <strong>T-shirt</strong> inclus</h4>
                            <p class="mb-0">Chaque joueur recevra le chandail officiel du Camp NexgGen.</p>
                        </div>
                    </div>
                    <!-- End Row -->

                    <!-- Row -->
                    <div class="row g-mr-20--md g-px-15 g-px-0--sm">
                        <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                            <i class="d-block icon-media-007 g-font-size-55 g-line-height-1 g-color-primary g-mb-5 g-mb-10--lg"></i>
                            <h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">
                                <strong>Séance</strong> de photos et autographes</h4>
                            <p class="mb-0">Une période à la fin du camp sera réservée afin de permettre aux jeunes et leurs parents de rencontrer
                                les entraîneurs (joueurs actuels et anciens du Rouge et Or et de la CFL).</p>
                        </div>

                        <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                            <i class="d-block icon-medical-001 g-font-size-55 g-line-height-1 g-color-primary g-mb-5 g-mb-10--lg"></i>
                            <h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">
                                <strong>Camp</strong> sécuritaire</h4>
                            <p class="mb-0">La sécurité des joueurs est une priorité pour nous. Deux étudiants soigneurs en physiothérapie de
                                l'Université Laval seront sur place durant les activités du camp.</p>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>

                <div class="col-lg-4 ml-md-auto col-md-5">
                    <!-- Article -->
                    <article class="text-center g-rounded-5 g-brd-around g-brd-gray-light-v5 g-overflow-hidden g-px-0 g-px-0--sm g-mb-10">
                        <!-- Article Header -->
                        <header class="g-bg-gray-light-v5 g-color-black g-px-30 g-py-15">
                            <!-- Article Title -->
                            <h3 class="g-font-weight-300 g-mb-5">Coût Option de Base</h3>
                            <!-- End Article Title -->

                            <div class="g-font-size-36 g-font-weight-600 g-line-height-1_2">
                                199,99$
                                <span class="g-valign-top g-font-size-default">+ tx</span>
                            </div>
                        </header>
                        <!-- End Article Header -->

                        <!-- Article Content -->
                        <div class="g-color-gray-dark-v4 g-px-30 g-pt-10 g-pb-10">
                            <ul class="list-unstyled mb-0">
                                <li class="g-mb-0">Inscription au Camp Nextgen</li>
                            </ul>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <article class="text-center g-rounded-5 g-brd-around g-brd-gray-light-v5 g-overflow-hidden g-px-0 g-px-0--sm g-mb-10">
                        <!-- Article Header -->
                        <header class="g-bg-gray-light-v5 g-color-black g-px-30 g-py-15">
                            <!-- Article Title -->
                            <h3 class="g-font-weight-300 g-mb-5">Coût Option Plus</h3>
                            <!-- End Article Title -->

                            <div class="g-font-size-36 g-font-weight-600 g-line-height-1_2">
                                234,99$
                                <span class="g-valign-top g-font-size-default">+ tx</span>
                            </div>
                        </header>
                        <!-- End Article Header -->

                        <!-- Article Content -->
                        <div class="g-color-gray-dark-v4 g-px-30 g-pt-10 g-pb-10">
                            <ul class="list-unstyled mb-0">
                                <li class="g-mb-0">Inscription au Camp + Coton ouaté NextGen</li>
                            </ul>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <article class="text-center g-rounded-5 g-brd-around g-brd-gray-light-v5 g-overflow-hidden g-px-0 g-px-0--sm g-mb-10">
                        <!-- Article Header -->
                        <header class="g-bg-gray-light-v5 g-color-black g-px-30 g-py-15">
                            <!-- Article Title -->
                            <h3 class="g-font-weight-300 g-mb-5">Coût Option 2 Camps Plus</h3>
                            <!-- End Article Title -->

                            <div class="g-font-size-36 g-font-weight-600 g-line-height-1_2">
                                349,99$
                                <span class="g-valign-top g-font-size-default">+ tx</span>
                            </div>
                        </header>
                        <!-- End Article Header -->

                        <!-- Article Content -->
                        <div class="g-color-gray-dark-v4 g-px-30 g-pt-10 g-pb-10">
                            <ul class="list-unstyled mb-0">
                                <li class="g-mb-0">Inscription aux 2 Camps + Coton ouaté Nextgen</li>
                            </ul>
                        </div>
                        <!-- End Article Content -->
                    </article>

                    <a class="btn w-100 u-btn-primary rounded-0 g-font-weight-600 g-pa-15-30" href="{% url 'inscription:inscription' %}">Inscription</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***************** FIN INSCRIPTION ***************** -->


    <!-- ***************** ÉQUIPE ***************** -->
    <section id="equipe" class="g-theme-bg-gray-dark-v1-test g-pt-50 g-pt-75--md g-pb-30 g-pb-45--md">
        <div class="container">
            <div class="row">
                <header class="text-center g-mb-20">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="text-uppercase g-line-height-1_4 g-letter-spacing-3 g-font-weight-700 g-font-size-36">Notre équipe</h2>
                    </div>
                    <p class="lead g-px-15 g-px-0--sm g-px-200--lg">
                        Suivez-nous sur les <strong>réseaux sociaux</strong> pour le dévoilement de la liste <strong>complète</strong> des entraîneurs.
                    </p>
                </header>
            </div>

            <div class="row">
                <!-- Organisateurs Block -->
                <div class="col-lg-6 text-center">
                    <h3 class="h3 g-font-weight-700 mb-15 text-center">Organisateurs</h3>
                    <!-- Team Block -->
                    <div class="row">
                        <div class="col-sm-6 g-mb-60">
                            <!-- Figure -->
                            <figure class="text-center">
                                <!-- Figure Image -->
                                <div class="d-block mx-auto rounded-circle g-max-width-200 g-bg-white g-pa-5 g-mb-15">
                                    <img class="rounded-circle g-max-width-190" src="{% static 'inscription/img/js200x200.jpg' %}" alt="Image Description">
                                </div>
                                <!-- End Figure Image -->

                                <!-- Figure Info -->
                                <div class="g-mb-15">
                                    <h4 class="h4 g-color-black g-mb-5">Jean-Simon Roy</h4>
                                    <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Organisateur et Entraîneur</em>
                                </div>
                                <p>Joueur professionnel pour les Eskimos d'Edmonton.</p>
                                <!-- End Info -->

                                <!-- Figure Social Icons -->
                                <ul class="text-center list-inline mb-0">
                                    <li class="list-inline-item g-mx-4">
                                        <a href="https://www.instagram.com/linemanworking/" class="u-icon-v3 u-icon-size--sm g-bg-gray-light-v5 g-color-gray-light-v2 g-bg-primary--hover g-color-white--hover rounded-circle">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Figure Social Icons -->
                            </figure>
                            <!-- End Figure -->
                        </div>

                        <div class="col-sm-6 g-mb-60">
                            <!-- Figure -->
                            <figure class="text-center">
                                <!-- Figure Image -->
                                <div class="d-block mx-auto rounded-circle g-max-width-200 g-bg-white g-pa-5 g-mb-15">
                                    <img class="rounded-circle g-max-width-190" src="{% static 'inscription/img/sam200x200.jpg' %}" alt="Image Description">
                                </div>
                                <!-- End Figure Image -->

                                <!-- Figure Info -->
                                <div class="g-mb-15">
                                    <h4 class="h4 g-color-black g-mb-5">Samuel Lefebvre</h4>
                                    <em class="g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Organisateur et Entraîneur</em>
                                </div>
                                <p>Joueur pour le Rouge et Or de l'Université Laval.</p>
                                <!-- End Info -->

                            </figure>
                            <!-- End Figure -->
                        </div>
                    </div>
                    <!-- End Team Block -->
                </div>
                <!-- Fin organisateurs Block -->

                <!-- Entraîneurs Block -->
                <div class="col-lg-6">
                    <h3 class="h3 g-font-weight-700 mb-15 text-center">Entraîneurs</h3>
                    <div class="row g-mx-minus-25 g-mb-0">
                        <div class="col-6 col-lg-6 g-px-25 g-mb-50">
                            <!-- Team -->
                            <div class="text-center">
                                <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{% static 'inscription/img/mathieubetts200x200.jpg' %}" alt="Image Description">
                                <h4 class="h5 g-font-weight-600 mb-1">Mathieu Betts</h4>
                                <span class="d-block g-color-primary">Entraîneur</span>
                            </div>
                            <!-- End Team -->
                        </div>

                        <div class="col-6 col-lg-6 g-px-25 g-mb-50">
                            <!-- Team -->
                            <div class="text-center">
                                <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{% static 'inscription/img/hugorichard200x200.jpg' %}" alt="Image Description">
                                <h4 class="h5 g-font-weight-600 mb-1">Hugo Richard</h4>
                                <span class="d-block g-color-primary">Entraîneur</span>
                            </div>
                            <!-- End Team -->
                        </div>

                        <div class="col-6 col-lg-6 g-px-25 g-mb-50">
                            <!-- Team -->
                            <div class="text-center">
                                <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{% static 'inscription/img/benoitgagnonbrousseau200x200.jpg' %}" alt="Image Description">
                                <h4 class="h5 g-font-weight-600 mb-1">Benoit Gagnon-Brousseau</h4>
                                <span class="d-block g-color-primary">Entraîneur</span>
                            </div>
                            <!-- End Team -->
                        </div>

                        <div class="col-6 col-lg-6 g-px-25 g-mb-50">
                            <!-- Team -->
                            <div class="text-center">
                                <img class="u-shadow-v29 g-width-110 g-height-110 rounded-circle mb-5" src="{% static 'inscription/img/adamauclair200x200.jpg' %}" alt="Image Description">
                                <h4 class="h5 g-font-weight-600 mb-1">Adam Auclair</h4>
                                <span class="d-block g-color-primary">Entraîneur</span>
                            </div>
                            <!-- End Team -->
                        </div>
                    </div>
                </div>
                <!-- Fin Entraîneurs Block -->
            </div>
        </div>
    </section>
    <!-- ***************** FIN ÉQUIPE ***************** -->


    <!-- ***************** COMANDITAIRES ***************** -->
    <section id="commanditaires">
        <div class="g-bg-secondary g-py-10">
            <div class="container">
                <div class="g-overflow-hidden">
                    <div class="row text-center mx-0 g-ml-minus-1 g-mb-minus-1">

                        <div class="col-md-3 offset-md-1 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-white-opacity-0_2 g-py-10 g-py-25--md">
                                <a href="https://xpnworld.com/" target="_blank">
                                    <img class="img-fluid g-width-120 g-opacity-0_6 g-opacity-1--hover g-transition-0_2" src="{% static 'inscription/img/logo-xpn.png' %}"
                                        alt="Logo XPN">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 offset-md-1 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-white-opacity-0_2 g-py-10 g-py-25--md">
                                <a href="http://www.liberte.ca/" target="_blank">
                                    <img class="img-fluid g-width-120 g-opacity-0_6 g-opacity-1--hover g-transition-0_2" src="{% static 'inscription/img/logo-liberte.png' %}"
                                        alt="Logo Yogourt Liberté">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 offset-md-1 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-white-opacity-0_2 g-py-10 g-py-25--md">
                                <a href="https://www.sportscontact.ca/fr/accueil" target="_blank">
                                    <img class="img-fluid g-width-120 g-opacity-0_6 g-opacity-1--hover g-transition-0_2" src="{% static 'inscription/img/logo-spc2.png' %}"
                                        alt="Logo Sports Contact">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***************** FIN COMMANDITAIRES ***************** -->


    <!-- ***************** FOOTER ***************** -->
    <footer id="contact" class="g-pos-rel">
        <!-- ***************** CONTACT ***************** -->
        <div class="g-bg-size-cover g-bg-img-hero u-bg-overlay g-bg-black-opacity-0_7--after g-pt-50 g-pt-75--md g-pb-20 g-pb-40--md" style="background-image: url({% static 'inscription/img/img5.jpg' %});">
            <div class="container u-bg-overlay__inner">
                <div class="row align-items-center">
                    <div class="col-md-4 g-mb-50">
                        <h3 class="h4 g-color-white mb-4">Informations</h3>

                        <!-- Icon Block -->
                        <div class="media align-items-center g-mb-60">
                            <div class="d-flex">
                                <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                                    <i class="icon-communication-062 u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p class="g-color-white-opacity-0_6 mb-0">campfootballnextgen@gmail.com</p>
                            </div>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Social Icons -->
                        <h3 class="h4 g-color-white">Réseaux Sociaux</h3>

                        <ul class="list-inline mb-0">
                            <li class="list-inline-item g-mx-2">
                                <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                    href="https://www.facebook.com/campnextgen/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-2">
                                <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                    href="https://www.instagram.com/campnextgen/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-2">
                                <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                    href="https://www.youtube.com/channel/UC_BTI08WxjW2ZRPdczAWteg">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Social Icons -->
                    </div>

                    <div class="col-md-8 g-mb-50">
                        <div class="g-brd-around g-brd-white-opacity-0_6 g-px-25 g-px-45--md g-py-60">
                            <div class="row">
                                <div class="col-md-4 g-mb-30">
                                    <h2 class="h1 g-color-white">Envoyez-Nous Un Message</h2>
                                </div>

                                <div class="col-md-8 g-mb-30">
                                    <!-- Contact Form -->
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}

                                        <div class="mb-3">
                                            {{ form.contact_name.errors }}
                                            {{ form.contact_name }}
                                        </div>

                                        <div class="mb-3">
                                            {{ form.contact_email.errors }}
                                            {{ form.contact_email }}
                                        </div>

                                        <div class="mb-4">
                                            {{ form.email_content.errors }}
                                            {{ form.email_content }}
                                        </div>

                                        <button class="btn u-btn-primary g-bg-secondary g-color-primary g-color-white--hover g-bg-primary--hover g-font-weight-600 g-font-size-16 g-py-15 g-px-35 rounded-0"
                                            type="submit" role="button">Envoyer</button>
                                    </form>
                                    <!-- End Contact Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN CONTACT -->

        <!-- Copyright -->
        <div class="container text-center g-py-30">
            <p class="g-font-size-13 mb-0">© 2017 Camp NextGen. Tous Droits Réservés.</p>
        </div>
        <!-- End Copyright -->
    </footer>
    <!-- ***************** FIN FOOTER ***************** -->



    <a class="js-go-to u-go-to-v1" href="#accueil" data-type="fixed" data-position='{
               "bottom": 15,
               "right": 15
             }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>


{% endblock body_block %}