{% extends "inscription/light_page_base.html" %}

{% load static %}

{% block title_block %}
    Merci - Camp NextGen
{% endblock title_block %}

{% block content_block %}
    <!-- Hero Info #05 -->
    <section class="g-py-200--md g-py-80">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 ml-md-auto mr-md-auto">
                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-20">Camp NextGen</h3>
                    <h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
                        <span class="g-color-primary">Décharge</span>
                        De responsabilité
                    </h2>
    
                    <p class="lead">Je déclare, dans l’attente de la régularisation de l’inscription de mon enfant, décharger de toute responsabilité le Camp NextGEN lors de la participation, mais sans s’y limiter, de mon enfant aux entraînements au sein du camp.
                    </p>
                    <p class="lead">
                    J'ai pris connaissance que cette période consiste en deux jours d’entrainement en salle de musculation supervisée et de pratique du football avec contacts supervisés. Le camp NextGEN et ses organisateurs ne seront pas responsables en cas d’incident comme une blessure, mais sans s’y limiter.
                    </p>
                    <p class="lead">
                    En outre, j'atteste par la présente que mon enfant est couvert par une assurance responsabilité civile pour les dommages qu'il pourrait causer au matériel ou aux tiers. 
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- Hero Info #05 -->
{% endblock content_block %}    