{% extends "inscription/light_page_base.html" %}

{% load static %}

{% block title_block %}
    Attente - Camp NextGen
{% endblock title_block %}

{% block content_block %}
    <!-- Hero Info #05 -->
    <section class="g-py-200--md g-py-80">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 ml-md-auto mr-md-auto">
                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-20">Camp NextGen</h3>
                    <h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
                        <span class="g-color-primary">Cette</span>
                        Section sera disponible sous peu.
                    </h2>
    
                    <p class="lead g-mb-10">Suivez-nous sur les réseaux sociaux pour les promotions et dates importantes.</p>
                    
                    <ul class="list-inline g-mb-40">
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-gray-dark-v3 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                href="https://www.facebook.com/campnextgen/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-gray-dark-v3 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                href="https://www.instagram.com/campnextgen/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-gray-dark-v3 g-bg-primary--hover-fonce g-font-size-13 rounded-circle"
                                href="https://www.youtube.com/channel/UC_BTI08WxjW2ZRPdczAWteg">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>

                    <a class="btn btn-xl u-btn-primary text-uppercase g-font-weight-700 g-font-size-12" href="{% url 'inscription:index' %}">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Info #05 -->
{% endblock content_block %}    