{% extends "inscription/light_page_base.html" %}

{% block title_block %}
    Merci - Camp NextGen
{% endblock title_block %}

{% block content_block %}
    <!-- Hero Info #05 -->
    <section class="g-py-200--md g-py-80">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 ml-md-auto mr-md-auto">
                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-20">Camp NextGen</h3>
                    <h2 class="display-4 text-uppercase g-font-weight-600 g-mb-20">
                        <span class="g-color-primary">Merci</span>
                        De votre inscription
                    </h2>
    
                    <p class="lead g-mb-40">Nous allons vous envoyer un courriel de confirmation. S'il y a un problème n'hésitez pas à nous contacter. Au plaisir de vous revoir.</p>
    
                    <a class="btn btn-xl u-btn-primary text-uppercase g-font-weight-700 g-font-size-12" href="{% url 'inscription:index' %}">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Info #05 -->
{% endblock content_block %}    