{% extends "inscription/base.html" %}

{% load static %}

{% block body_block %}
    <!-- ***************** NAVBAR ***************** -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance g-z-index-9999" data-header-fix-moment="100">
        <div class="u-header__section g-bg-black-opacity-0_7 g-transition-0_3 g-py-7 g-py-23--md" data-header-fix-moment-exclude="g-bg-black-opacity-0_7 g-py-23--md"
            data-header-fix-moment-classes="g-bg-black-opacity-0_8 g-py-17--md">
            <nav class="navbar navbar-expand-lg g-py-0">
                <div class="container g-pos-rel">
                    <!-- Logo -->
                    <a href="{% url 'inscription:index' %}" class="navbar-brand u-header__logo">
                        <img class="u-header__logo-img u-header__logo-img--main g-width-140" src="{% static 'inscription/img/campnextgen_VB2.png' %}"
                            alt="Camp NextGen Logo">
                    </a>
                    <!-- End Logo -->
                </div>
            </nav>
        </div>
    </header>
    <!-- ***************** End NAVBAR ***************** -->

    {% block content_block %}
    
    {% endblock content_block %}


{% endblock body_block %}